/*  regole generali della pagina */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

[class*="col-"] {
  height: auto;
  border: 1px solid;
}

.row {
text-align: center;
}

.left, .right {
  text-align: center;
}
.left > img {width: 15%}
.right > img {width: 15%}

/* IDEA:  */

@media screen and (max-width: 768px) {
  body {
    background-color: lightgrey;
  }
  h1 {color: blue;}
  h3 {color: red;}
}

/* IDEA:  */

@media screen and (min-width: 768px)
and (max-width: 991px){
  body {
    background-color: green;
  }
}

/* IDEA:  */
@media screen and (min-width: 992px){
body {
  background-color: red;
  }
}



/* CSS MICHELE:  */

/* .row {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
} */

/* BLOCCO LEZIONI */
/* #lezioni .row > .left, #lezioni .row > .right{
  width: 50%;
  float: left;
} */

/* #lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
} */

/* #lezioni {
  text-align: center;
} */

/* BLOCCO STEPS */
/* #steps .row > .left,
#steps .row > .central,
#steps .row > .right{
  float: left;
  width: 33%;
}

#steps{
  text-align: center;
} */

/* BLOCCO PERCHE */
/* #why {
  text-align: center;
}

#why .row > .first,
#why .row > .second,
#why .row > .third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* COMMON */

/* [background="grey"]{
  background-color: #f9f9f9;
}

img{
  height: 200px;
}

.clear {
  clear:both;
} */ */
